.container-background {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  margin: 0 auto;
}
.container {
  margin: 4em 1.5em 2em 1.5em;
  padding: 0 0 2em 0;
  display: grid;
  grid-template-areas:
    "paper scissors"
    " rock rock";
  justify-items: center;
  row-gap: 5em;
  column-gap: 6em;
}
.bkg {
  position: absolute;
  width: 250px;
  height: 200px;
  top: calc(100vh - 63%);
  left: calc(100vw - 83%);
}
.paper {
  grid-area: paper;
  border: 10px solid #5269db;
  outline: 2px solid #5299db;
}

.rock {
  grid-area: rock;
  border: 10px solid #eca724;
  outline: 2px solid #eca754;
}
.scissors {
  grid-area: scissors;
  border: 10px solid #d64365;
  outline: 2px solid #d64375;
}
.rules {
  margin: 5em auto 0 auto;
  padding: 1em 2.5em;
  background-color: transparent;
  color: var(--HeaderOutline);
  border: 2px solid var(--HeaderOutline);
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}
/*aux*/

.btn {
  padding: 1em;
  opacity: 0.99;
  background: whitesmoke;
  border-radius: 50%;
}
