.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 100px;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.container-selection {
  display: flex;
  column-gap: 30px;
}
.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.placeholder {
  content: "a";
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background: whitesmoke;
  padding: 1em;
  border-radius: 50%;
  border: 10px solid #5269db;
  outline: 2px solid #5299db;
}

.rock {
  background: whitesmoke;
  padding: 1em;
  border-radius: 50%;
  border: 10px solid #eca724;
  outline: 2px solid #eca754;
}
.scissors {
  background: whitesmoke;
  padding: 1em;
  border-radius: 50%;
  border: 10px solid #d64365;
  outline: 2px solid #d64375;
}
.rules {
  margin: 5em auto 0 auto;
  padding: 1em 2.5em;
  background-color: transparent;
  color: var(--HeaderOutline);
  border: 2px solid var(--HeaderOutline);
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.text {
  color: whitesmoke;
  margin-top: 2em;
  text-transform: uppercase;
}
